@charset "utf-8";

header,
footer {
    background-color: #833ca3;
}

header {
    display: flex;
    height: 138px;
}

h1 {
    padding-left: 24px;
    padding-top: 30px;
    font-size: 42px;
}

/* aタグの装飾 */
nav a, footer a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    margin-left: auto;
    gap: 18px;
}

/* navだけリストを消す */
nav li {
    list-style: none;
}

li {
    margin-top: 32px;
    padding-right: 24px;
    font-size: 32px;
}

footer {
    padding: 16px;
    color: white;
    text-align: center;
}